<h1>{{title}}</h1>
<table class="table">
<thead>
<tr>
    <th scope="col">Matricula</th>
    <th scope="col">Nome</th>
    <th scope="col">data de Nacimento</th>
    <th scope="col">Email</th>
    <th scope="col">Editar</th>
    <th scope="col">Apagar</th>
</tr>
</thead>
<tbody>

{{#each alunos}}
<tr>
    <td>{{matricula}}</td>
    <td> <a href="/alunos/{{matricula}}">{{nome}}</a> </td>
    <td>{{data_nascimento}}</td>
    <td>{{email}}</td>
    <td><a href="/alunos/edit/{{matricula}}"><i class="bi bi-pencil-square"></i></a></td>
    <td><i class="bi bi-cloud-sleet-fill"></i></td>
    
</tr>

{{/each}}
</tbody>
</table>

<button type="button" class="btn btn-outline-light"><a href="/alunos/new">Adicionar novo aluno <i class="bi bi-person-add"></i></a></button>

{{!-- <a href="/alunos/new">Adicionar novo Aluno</a> --}}